# Ignore dirs
/target/

# Ignore files
Cargo.lock
crates/cli/doc/hpx.1
test/resources/skymap/2mass.skymap.order10.fits
test/resources/skymap/diff.png
test/resources/skymap/erosita_point_map.fits
test/resources/skymap/gaiadr2.skymap.order10.fits
test/resources/skymap/hats_test.png
test/resources/skymap/mom.gaiadr2.1000000.png
test/resources/skymap/mom.gaiadr2.chi2.0p999.png
test/resources/skymap/mom.png
test/resources/skymap/mom_2mass.png
test/resources/skymap/mom_gaia.png
test/resources/skymap/mreged_mom.png
test/resources/skymap/skymap.2mass.depth6.png
test/resources/skymap/skymap.gaiadr3.depth6.png
test/resources/skymap/skymap.org.fits
test/resources/skymap/hats_tets.png
test/resources/skymap/skymap.png
crates/cli/test/A.txt
crates/cli/test/B.txt
crates/cli/test/cone.bmoc.fits
crates/cli/test/count.d2.l.ee.fits
crates/cli/test/count.d2.l.ei.fits
crates/cli/test/count.d2.l.explicit.fits
crates/cli/test/count.d2.l.explicit.png
crates/cli/test/count.d2.l.fits
crates/cli/test/count.d2.l.ie.fits
crates/cli/test/count.d2.l.ii.fits
crates/cli/test/count.d2.l.png
crates/cli/test/count.d2.m.explicit.fits
crates/cli/test/count.d2.m.explicit.png
crates/cli/test/count.d2.m.fits
crates/cli/test/count.d2.m.png
crates/cli/test/count.d2.r.explicit.fits
crates/cli/test/count.d2.r.explicit.png
crates/cli/test/count.d2.r.fits
crates/cli/test/count.d2.r.png
crates/cli/test/count_h2.csv
crates/cli/test/hip.d5.dens.fits
crates/cli/test/hip.d5.dens.mom.bintable.fits
crates/cli/test/hip.d5.dens.mom.fits
crates/cli/test/hip.d5.dens.mom.png
crates/cli/test/hip.d5.dens.png
crates/cli/test/hipmain.partial.sorted.csv
crates/cli/test/hipmain.partial.sorted.hci.ee.fits
crates/cli/test/hipmain.partial.sorted.hci.ei.fits
crates/cli/test/hipmain.partial.sorted.hci.fits
crates/cli/test/hipmain.partial.sorted.hci.ie.fits
crates/cli/test/hipmain.partial.sorted.hci.ii.fits
crates/cli/test/hipmain.sorted.csv
crates/cli/test/hipmain.sorted.ee.hci.fits
crates/cli/test/hipmain.sorted.ei.hci.fits
crates/cli/test/hipmain.sorted.hci.ee.fits
crates/cli/test/hipmain.sorted.hci.ei.fits
crates/cli/test/hipmain.sorted.hci.fits
crates/cli/test/hipmain.sorted.hci.ie.fits
crates/cli/test/hipmain.sorted.hci.ii.fits
crates/cli/test/hipmain.sorted.ie.hci.fits
crates/cli/test/hipmain.sorted.ii.hci.fits
test/resources/skymap/gaiadr2.mom.density.order10.fits
test/resources/skymap/gaiadr2.mom.density.order10.png
test/resources/skymap/gaiadr3.mom.density.order10.fits
test/resources/skymap/gaiadr3.mom.density.order10.png
test/resources/skymap/gaiadr3.mom.density.order10.v1.png
test/resources/skymap/gaiadr3.mom.density.order10.v2.png
test/resources/skymap/gaiadr3.mom.density.order10.v3.png
test/resources/skymap/gaiadr3.mom.density.order10.v4.png
test/resources/skymap/gaiadr3.mom.density.order11.bintable.fits
test/resources/skymap/gaiadr3.mom.density.order11.fits
test/resources/skymap/gaiadr3.mom.density.order11.fits.gz
test/resources/skymap/gaiadr3.mom.density.order11.png
test/resources/skymap/gaiadr3.skymap.density.order10.fits
test/resources/skymap/gaiadr3.skymap.order10.fits
test/resources/skymap/gaiadr3.skymap.order11.fits
test/resources/skymap/gaiadr3.skymap.order11.fits.gz
test/resources/skymap/skymap.mom.density.fits
test/resources/skymap/skymap.mom.density.png



