# Ignore dirs
/trash/
/target/
/libwasm/
/libpsql10/
/libpsql_test/
/test/target/
/resources/gnuplot
src/nested/vmoc/

# Ignore files
Notes.txt
GIT_NOTICE.txt
CRATESIO_NOTICE.txt
Cargo.lock
Makefile
!/libpsql/Makefile
**/*.rs.bk
**/*.swp

